* {
    box-sizing: border-box;
}

/* set main color scheme */
:root {
    --primary: rgb(30, 69, 108);
    --secondary: rgb(173, 228, 182);
}

/* set CSS elements*/

body {
    font-family: Arial, Helvetica, sans-serif;
}

#navbar {
    background-color: var(--primary);
    color: var(--secondary);
    font-size: 75px;
}

.navbar-brand {
    font-size: 75px;
}


.card-header {
    background-color: var(--primary);
    color: var(--secondary);
}

.card-body {
    background-color: var(--secondary);
    color: var(--primary);
}

.container {
    margin: 150px auto;
    justify-content: space-evenly;
    display: flex;
    
}